RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#Cac rule rewrite
#RewriteRule ^admin/(.+)$ admin.php?url=$1
RewriteRule ^(.+)$ index.php?url=$1
#RewriteRule ^((?!admin).+)$ index.php?url=$1